@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: start;
  }

  header nav {
    flex-direction: column;
    align-items: start;

  }

  header div {
    flex-direction: column;
    align-items: start;

  }
}
