<div class="container mx-auto mt-24 py-8">
  <h1 class="text-4xl font-bold mb-6 text-center">Lista de Jugadores</h1>

  <div class="flex flex-col md:flex-row md:justify-between mb-6">
    <input type="text" [formControl]="searchControl" placeholder="Buscar jugadores..."
           class="p-2 border rounded w-full md:w-1/3 mb-4 md:mb-0">

    <form [formGroup]="filterForm" class="flex flex-col md:flex-row md:space-x-4 w-full md:w-2/3">
      <select formControlName="rareza" class="p-2 border rounded mb-4 md:mb-0">
        <option value="">Todas las rarezas</option>
        <option value="Común">Común</option>
        <option value="Rara">Rara</option>
        <option value="Épica">Épica</option>
        <option value="Legendaria">Legendaria</option>
      </select>

      <select formControlName="posicion" class="p-2 border rounded">
        <option value="">Todas las posiciones</option>
        <option value="DC">Delantero Centro</option>
        <option value="EI">Extremo Izquierdo</option>
        <option value="ED">Extremo Derecho</option>
        <option value="SD">Segundo Delantero</option>
        <option value="MCO">Mediapunta</option>
        <option value="CM">Mediocentro</option>
        <option value="CDM">Mediocentro Defensivo</option>
        <option value="LI">Lateral Izquierdo</option>
        <option value="LD">Lateral Derecho</option>
        <option value="CAD">Carrilero derecho</option>
        <option value="CAI">Carrilero izquierdo</option>
        <option value="DFC">Defensa Central</option>
        <option value="PT">Portero</option>
      </select>
    </form>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <app-jugador *ngFor="let jugador of jugadores" [jugador]="jugador"></app-jugador>
  </div>
</div>
