<section class="mi-equipo">
  <h1>Mi Equipo</h1>

  <div class="posicion-container">
    <h2>Delanteros</h2>
    <div class="carrusel">
      <div class="carrusel-item" *ngFor="let jugador of delanteros">
        <app-jugador [jugador]="jugador"></app-jugador>
      </div>
    </div>
  </div>

  <div class="posicion-container">
    <h2>Centrocampistas</h2>
    <div class="carrusel">
      <div class="carrusel-item" *ngFor="let jugador of centrocampistas">
        <app-jugador [jugador]="jugador"></app-jugador>
      </div>
    </div>
  </div>

  <div class="posicion-container">
    <h2>Defensas y Porteros</h2>
    <div class="carrusel">
      <div class="carrusel-item" *ngFor="let jugador of defensasYPorteros">
        <app-jugador [jugador]="jugador"></app-jugador>
      </div>
    </div>
  </div>
</section>
