<div class="player-card">
  <div class="player-card__image-wrapper">
    <img [src]="jugador.imagen" alt="{{ jugador.nombreCompleto }}" class="player-card__image">
  </div>
  <div class="player-card__content">
    <h2 class="player-card__name">{{ jugador.nombreCompleto }}</h2>
    <p class="player-card__detail">Equipo: {{ jugador.nombre_equipo }}</p>
    <p class="player-card__detail">Edad: {{ jugador.edad }}</p>
    <p class="player-card__detail">Media: {{ jugador.media }}</p>
    <p class="player-card__detail">Rareza:
      <span [ngClass]="{
        'player-card__rareza--legendaria': jugador.rareza === 'Legendaria',
        'player-card__rareza--epica': jugador.rareza === 'Épica',
        'player-card__rareza--comun': jugador.rareza === 'Común',
        'player-card__rareza--rara': jugador.rareza === 'Rara'
      }">{{ jugador.rareza }}</span>
    </p>
    <p class="player-card__detail">Posición: {{ jugador.posicion }}</p>
    <p class="player-card__detail">Valor: {{ jugador.valor }}</p>
  </div>
</div>
