<div [ngClass]="getBorderColor(jugador.rareza)"
     class="player-card max-w-xs bg-gradient-to-r from-gray-700 via-gray-900 to-white border-4 rounded-lg overflow-hidden shadow-lg transform transition duration-500 hover:scale-105 ">

  <div class="relative">
    <img [src]="jugador.imagen" alt="{{ jugador.nombreCompleto }}"
         class="w-full  object-cover animate__animated animate__bounceInLeft animate__delay-1s">
    <div class="fondo absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-70"></div>
    <h2 class="absolute bottom-0 left-0 m-4 text-xl font-bold text-white">{{ jugador.nombreCompleto }}</h2>
  </div>
  <div class="p-4 text-white">
    <div class="flex justify-between items-center">
      <p class="text-3xl font-bold">{{ jugador.media }}</p>
      <div>
        <p class="text-sm">Equipo: {{ jugador.nombre_equipo }}</p>
        <p class="text-sm">Edad: {{ jugador.edad }}</p>
      </div>
    </div>
    <p class="mt-2"><strong>Rareza:</strong> <span [ngClass]="{
      'text-yellow-500': jugador.rareza === 'Legendaria',
      'text-purple-500': jugador.rareza === 'Épica',
      'text-gray-500': jugador.rareza === 'Común',
      'text-blue-500': jugador.rareza === 'Rara'
    }">{{ jugador.rareza }}</span></p>
    <p class="mt-2"><strong>Posición:</strong> {{ jugador.posicion }}</p>
    <p class="mt-2"><strong>Valor:</strong> {{ jugador.valor }}</p>
  </div>
</div>
