<div class="min-h-screen flex flex-col items-center justify-center bg-gray-900 text-white text-center">
  <h1 class="text-6xl font-bold mb-8">404</h1>
  <div class="bg-white text-black rounded-full p-4 flex items-center justify-center mb-8">
    <img src="assets/images/error404.jpg" alt="Soccer Ball" class="w-62 h-56">
  </div>
  <p class="text-2xl font-bold mb-4">Oops! Página no encontrada</p>
  <p class="text-lg mb-8 text-center">Parece que has pateado el balón fuera del campo. ¡Pero no te preocupes! El juego
    aún está en marcha.</p>
  <a href="/"
     class="bg-yellow-500 text-black px-4 py-2 rounded-full text-lg font-bold hover:bg-yellow-600 transition duration-300">Regresar
    al Inicio</a>
  <div class="absolute bottom-0 left-0 right-0 bg-white p-4 text-green-600">
    <p class="text-center">¿Te gusta el fútbol tanto como a nosotros? ¡Sigue explorando y disfrutando!</p>
  </div>
</div>
<app-footer/>
