<section class="container mx-auto mt-20 p-5 bg-gradient-to-r from-indigo-400  to-cyan-800 shadow-2xl">
  @if (jugador.id) {
    <div class="flex flex-col lg:flex-row">
      <div class="lg:w-1/3 mx-20 animate__bounceIn">
        <app-jugador [jugador]="jugador"></app-jugador>
      </div>

      <div class="lg:w-2/3 p-4">
        <h3 class="text-3xl text-white font-bold mb-4">Comentarios</h3>

        <div class="mb-4" *ngIf="estaLogueado">
          <form [formGroup]="comentarioForm" (ngSubmit)="onSubmitComentario()" class="space-y-4">
            <mat-form-field appearance="fill" class="w-1/5 m-4 mb-4">
              <mat-label>Calificación</mat-label>
              <mat-select formControlName="calificacion">
                <mat-option *ngFor="let i of [0, 1, 2, 3, 4, 5]" [value]="i">
                  {{ i }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="comentarioForm.get('calificacion')?.invalid && comentarioForm.get('calificacion')?.touched">
                Calificación es requerida
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-1/2 m-4 mb-4">
              <mat-label>Comentario</mat-label>
              <textarea matInput formControlName="texto" maxlength="200"></textarea>
              <mat-error *ngIf="comentarioForm.get('texto')?.invalid && comentarioForm.get('texto')?.touched">
                Comentario no puede estar vacío y no puede tener más de 200 caracteres
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="comentarioForm.invalid">
              Enviar
            </button>
          </form>
          @if (errorMensaje !== '') {
            <mat-error class="text-red-500">{{ errorMensaje }}</mat-error>
          }

        </div>

        <div *ngIf="!estaLogueado" class="text-red-500">Debes estar logueado para comentar.</div>

        <div class="mt-6 space-y-4">
          <mat-card *ngFor="let comentario of comentarios" class=" p-4 rounded-lg shadow-md">
            <p class="font-bold">{{ comentario.comentario_user }}</p>
            <p>{{ comentario.texto }}</p>
            <p class="text-sm text-gray-500">Calificación: {{ comentario.calificacion }}</p>
            <p class="text-sm text-gray-500">{{ comentario.createdAt | date:'short' }}</p>
          </mat-card>
          <div *ngIf="comentarios.length === 0" class="text-gray-500">No hay comentarios.</div>
        </div>
      </div>
    </div>
  } @else {
    <div class="text-center text-white text-3xl">Jugador no encontrado</div>
  }
</section>
