<section class="py-10 px-5 text-center text-white"
         style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(10px); position: relative; overflow: hidden;">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-4">FUTPRO</h1>
    <h2 class="text-2xl mb-6">COMPRA Y VENDE TUS CROMOS!</h2>
    <div>
      <a
        class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
        href="#">
        Descubre todos los jugadores
      </a>
    </div>
  </div>

  <video id="background-video" class="absolute top-0 left-0 w-full h-full object-center object-cover -z-10" autoplay
         muted loop playsinline>
    <source src="assets/video/videohero.webm" type="video/webm">
    Tu navegador no soporta el elemento de video.
  </video>
</section>
