<section class="py-10 px-5 text-center text-white relative overflow-hidden"
         style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(10px);">
  <div class="container mx-auto">
    <h1 class="text-7xl font-bold mb-4 animate__animated animate__fadeInDown">FUTPRO</h1>
    <h2 class="text-2xl mb-6 animate__animated animate__fadeInUp animate__delay-1s">COMPRA Y VENDE TUS JUGADORES!</h2>
    <h3 class="text-lg mb-8 animate__animated animate__fadeInDown animate__delay-1s"> ¿ERES FLORENTINO PEREZ O JOSEP
      MARIA
      BARTOMEU?</h3>
    <div>
      <a
        class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2
        inline-block hover:bg-white hover:text-black transition-all duration-500 ease-in-out transform hover:scale-110
        animate__animated animate__bounceInLeft animate__delay-2s
        "
        href="/jugadores">
        Descubre todos los jugadores
      </a>
    </div>
  </div>

  <video id="background-video" class="absolute top-0 left-0 w-full h-full object-center object-cover -z-10" autoplay
         muted loop playsinline>
    <source src="assets/video/videohero2.mp4" type="video/webm">
    Tu navegador no soporta el elemento de video.
  </video>
</section>
